# Script for generating large text files 

Keeps the metadata concatted with "|" as first line

In [7]:
import pandas as pd 

# download first "https://huggingface.co/datasets/storytracer/US-PD-Books/resolve/main/data/train-00000-of-00327.parquet?download=true")
df = pd.read_parquet("train-00000-of-00327.parquet") 

# e.g. 100 books only 
books_number = 100
df = df.iloc[:books_number]
df["words"] = df.full_text.apply(lambda x: len(x.split(" ")))
print(f"Pages: {df.page_count.sum()} | Words: {df.words.sum()}") #df.words.sum())

Pages: 28986 | Words: 15893741

In [8]:
# Define the columns to concatenate, excluding 'full_text'
metadata_columns = ['ocaid', 'title', 'author', 'year', 'page_count', 'openlibrary_edition', 'openlibrary_work']

# Function to concatenate metadata and full_text
def concatenate_row(row):
    metadata = '|'.join(row[metadata_columns].astype(str)) # Convert to string and join with '|'
    full_text = row['full_text']
    return metadata + '|' + full_text

In [11]:
df.head()

,ocaid,title,author,year,page_count,openlibrary_edition,openlibrary_work,full_text,words
0,worksofcharlesle01leve,The works of Charles Lever,"Lever, Charles James, 1806-1872",1872,692,OL13499428M,OL3564322W,<8 '' ^/^r \n\n\nN V s...,1045410
1,specimensofexpos00lamorich,Specimens of exposition,"Lamont, Hammond, 1864-1909",1894,220,OL7034373M,OL202608W,Ifteafeirtgs \n\n\nUC-NRLF \n\n\nSPECIMENS \n\...,109283
2,recollectionsand00greerich,Recollections and reflections : an auto of hal...,"Green, Wharton J. (Wharton Jackson), 1831-1910",1906,400,OL7098980M,OL7710550W,; J. GREEN \n\n\nRECOLLECTIONS AND REFL...,229753
3,puddnheadwilsont00twaiiala,"Pudd'nhead Wilson, and Those extraordinary twins","Twain, Mark, 1835-1910",1922,322,OL7095992M,OL15269096W,ROXY HARVESTING AMONG THE KITCHENS \n\n\n...,142528
4,hansbreitmann00lelarich,Hans Breitmann in Germany;,"Leland, Charles Godfrey, 1824-1903",1895,184,OL7202758M,OL4108366W,";'HP- \n\n\nn \n\n\n""* \n\nr.l»* \n\n'f . \n\...",58760

In [9]:
# Apply the function to each row and save to a list
concatenated_rows = df.iloc[:books_number].apply(concatenate_row, axis=1).tolist()

# Write the concatenated rows to a text file
with open(f'{books_number}_books.txt', 'w', encoding='utf-8') as f:
    for row in concatenated_rows:
        f.write(row + '\n')

print(f"The text file '{books_number}_books.txt' has been created.")

The text file '100_books.txt' has been created.